.section_main {
  margin: 0 20px 0 20px;
}

.section_main_loading {
  font-size: 2rem;
  font-weight: 600;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.products_title {
  font-size: 2rem;
  color: #313030;
}

.product_card {
  width: 200px; /* // 280px */
  height: 302px; /* 352px */
  background-color: #F9F9F9;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease;
}

.product_card:hover{
  box-shadow: none;
  transition: all 200ms ease;
}

.product_card_img {
  width: 100%;
  height: 70%;
  background-color: aquamarine;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.product_card_img_photo {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* .product_card_extra_rank {
  justify-content: center;
  vertical-align: middle;
  gap: 3px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 30px;
  width: 100%;
  top: 21px;
  left: 31px;
  width: 52px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #313030;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.product_card_extra_rank_star {
  display: flex;
  align-items: center;
  width: 16px;
} */

.product_card_extra_discount {
  display: flex;
  align-items: center;
  text-indent: 16px;
  position: absolute;
  top: 0;
  left: 154px;
  border-radius: 0 30px 0 30px;
  display: flex;
  background-color: #CD4217;
  width: 86px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
}

.product_card_info {
  margin: 0;
  padding: 10px;
}

.product_card_info_name {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1rem;
  height: 32px;
  color: #313030;
  cursor: pointer;
}

.product_card_info_category {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  width: 130px;
  color: #313030;
}

.product_card_info_extra {
  padding: 0;
  margin: 0;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.product_card_info_extra_block {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.product_card_info_extra_price {
  padding: 0;
  margin: -4px 0 0 15px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #313030;
}

.product_card_info_extra_discount {
  padding: 0;
  margin: 0 0 0 0;
  color: #F14545;
  font-size: 12px;
  font-weight: 600;
  text-decoration: line-through #313030;
}

.product_card_info_extra_icons {
  display: flex;
  gap: 0.65rem;
  align-items: center;
  margin: 0 10px 24px 0;
  position: relative;
}

.product_card_info_extra_icons_heart {
  width: 20px;
  cursor: pointer;
}

.product_card_info_extra_icons_shop {
  width: 24px;
  cursor: pointer;
}