.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  margin: 0;
  gap: 10px;
  margin-top: 120px;
}

.product-card {
  width: 100%;
  min-width: 155px;
  height: auto;
  min-height: 203px;
  cursor: pointer;
}
.product-card .product-card-img {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 18px;
  margin-bottom: 4px;
}
.product-card .product-card-img .img-photo {
  width: 100%;
  border-radius: 15px;
  min-width: -webkit-fill-available;
  min-height: 171px;
  border: solid 1px #fff;
  object-fit: cover;
}
.product-card .product-card-img .img-photo:hover {
  border: solid 1px #FF7E1B;
}
.product-card .product-card-img .img-photo.skelleton {
  animation: skelletonAnimation 1s linear infinite alternate;
}
@keyframes skelletonAnimation {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 80%);
  }
}
.product-card .product-card-img .product-fav-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.product-card .product-card-img .product-fav-icon .img-fav-icon, .product-card .product-card-img .product-fav-icon .img-fav-icon-fill {
  color: #FF7E1B;
  font-size: 1.2rem;
}
.product-card .product-card-img .img-discount {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 35px;
  height: 25px;
  border-radius: 0.375rem 0rem 0rem 0.375rem;
  background: #FFEEE2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-card-img .img-discount i {
  color: #FF7E1B;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-card .product-card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.product-card .product-card-details .product-card-name {
  color: #1D2026;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem;
  width: 7.4rem;
  height: 1.625rem;
}
.product-card .product-card-details .product-card-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
}
.product-card .product-card-details .product-card-section .product-card-price {
  color: #1D2026;
  font-size: 0.725rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-card .product-card-details .product-card-section .product-card-discount {
  color: #B6BCC8;
  font-size: 0.55rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.75rem;
  text-decoration: line-through;
}

.contact {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact img {
  width: 144px;
  height: 144px;
  min-width: 144px;
  margin-bottom: 1.5rem;
}
.contact h1 {
  color: #1D2026;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
.contact h2 {
  color: #69707D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
.contact .contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: 32px;
  margin-top: 1rem;
}
.contact .contact-links a {
  width: auto;
  height: auto;
}
.contact .contact-links a .github-link {
  font-size: 2.1rem;
  color: #1D2026;
}
.contact .contact-links a .github-link:hover {
  color: #FF7E1B;
}
.contact .contact-links a .linkedind-link {
  font-size: 2.5rem;
  color: #1D2026;
}
.contact .contact-links a .linkedind-link:hover {
  color: #FF7E1B;
}

@media (min-width: 769px) and (max-width: 1439px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(232px, auto));
    margin-top: 60px;
    gap: 12px;
    margin-left: 0;
  }
  .product-card {
    min-width: 232px;
    max-width: 232px;
  }
  .product-card .product-card-img {
    border-radius: 18px;
    margin-bottom: 8px;
  }
  .product-card .product-card-img .img-photo {
    min-height: 234px;
    border: solid 1px #fff;
  }
  .product-card .product-card-img .img-photo:hover {
    border: solid 1px #FF7E1B;
  }
  .product-card .product-card-img .product-fav-icon {
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
  }
  .product-card .product-card-img .product-fav-icon .img-fav-icon, .product-card .product-card-img .product-fav-icon .img-fav-icon-fill {
    font-size: 1.4rem;
  }
  .product-card .img-discount {
    bottom: 22px;
    width: 3.1875rem;
    height: 2rem;
  }
  .product-card .img-discount i {
    font-size: 1rem;
  }
  .product-card .product-card-details .product-card-name {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 11rem;
    height: auto;
  }
  .product-card .product-card-details .product-card-name:hover {
    color: #FF7E1B;
  }
  .product-card .product-card-details .product-card-section .product-card-price {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .product-card .product-card-details .product-card-section .product-card-price:hover {
    color: #FF7E1B;
  }
  .product-card .product-card-details .product-card-section .product-card-discount {
    font-size: 0.725rem;
    line-height: 0.85rem;
  }
  .contact {
    margin-top: 10%;
  }
}
@media (min-width: 1440px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(232px, auto));
    margin-top: 75px;
  }
  .product-card {
    min-width: 232px;
    max-width: 232px;
  }
  .product-card .product-card-img {
    border-radius: 18px;
    margin-bottom: 8px;
  }
  .product-card .product-card-img .img-photo {
    min-height: 234px;
    border: solid 1px #fff;
  }
  .product-card .product-card-img .img-photo:hover {
    border: solid 1px #FF7E1B;
  }
  .product-card .product-card-img .product-fav-icon {
    top: 17px;
    right: 17px;
    width: 24px;
    height: 24px;
  }
  .product-card .product-card-img .product-fav-icon .img-fav-icon, .product-card .product-card-img .product-fav-icon .img-fav-icon-fill {
    font-size: 1.5rem;
  }
  .product-card .product-card-img .img-discount {
    bottom: 22px;
    width: 3rem;
    height: 1.7rem;
  }
  .product-card .product-card-img .img-discount i {
    font-size: 0.9rem;
  }
  .product-card .product-card-details .product-card-name {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 11rem;
    height: auto;
  }
  .product-card .product-card-details .product-card-name:hover {
    color: #FF7E1B;
  }
  .product-card .product-card-details .product-card-section .product-card-price {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .product-card .product-card-details .product-card-section .product-card-price:hover {
    color: #FF7E1B;
  }
  .product-card .product-card-details .product-card-section .product-card-discount {
    font-size: 0.725rem;
    line-height: 0.85rem;
  }
  .contact {
    margin-top: 10%;
  }
}

/*# sourceMappingURL=products.css.map */
